body {
  background-color: black;
  animation: change 5s 5s forwards, extra 5s 10s infinite forwards;
}
@keyframes change {
  0% {
    background-color: black;
  }
  100% {
    background-color: aquamarine;
  }
}

@keyframes extra {
  0% {
    background-color: aquamarine;
  }
  50% {
    background-color: chartreuse;
  }
  100% {
    background-color: aquamarine;
  }
}
.both {
  top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.intro {
  top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: intr 5s 1s forwards, intr2 3s 6s forwards;
}

@keyframes intr {
  0% {
    transform: rotate(0deg);
    opacity: 0%;
    width: 100px;
    height: 100px;
  }
  70% {
    opacity: 100%;
    width: 250px;
    height: 250px;
  }
  100% {
    transform: rotate(-360deg);
    width: 230px;
    height: 230px;
  }
}

@keyframes intr2 {
  0% {
    transform: rotate(-360deg);
    opacity:100%;
  }
  100% {
    opacity:0%;
  }
}

.line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40px;
  right: 40%;
  left: 40%;
  animation: lin 5s 1s forwards, lin2 2s 6s forwards;
}

@keyframes lin {
  0% {
    transform: rotate(0deg);
    opacity: 0%;
    width: 120px;
    height: 120px;
  }
  70% {
    opacity: 100%;
    width: 270px;
    height: 270px;
  }
  100% {
    transform: rotate(-380deg);
    width: 250px;
    height: 250px;
  }
}

@keyframes lin2 {
  0% {
    transform: rotate(-380deg);
    opacity:100%;
  }
  100% {
    transform: rotate(-380deg);
    opacity:0%;
  }
}

.over {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 100% 52px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px black;
  opacity: 0%;
  animation: over1 4s 9s forwards;
}

.text {
  left: 75px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 20px;
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-ExtraLight.ttf);
}

.logo {
  top: 0;
  float: left;
  width: 50px;
  height: 50px;
}

@keyframes over1 {
  0% {
    opacity:0%;
  }
  100% {
    opacity:100%;
  }
