body {
  background-color: black;
  animation: change 5s 5s forwards, extra 5s 10s infinite forwards;
}
@keyframes change {
  0% {
    background-color: black;
  }
  100% {
    background-color: aquamarine;
  }
}

@keyframes extra {
  0% {
    background-color: aquamarine;
  }
  50% {
    background-color: chartreuse;
  }
  100% {
    background-color: aquamarine;
  }
}
.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  z-index: 1;
  animation: intr 5s 1s forwards, intr2 4s 6s forwards;
}

@keyframes intr {
  0% {
    transform: rotate(0deg);
    opacity: 0%;
    width: 25%;
    height: 25%;
  }
  70% {
    opacity: 100%;
    width: 50%;
    height: 50%;
  }
  100% {
    transform: rotate(-360deg);
    width: 45%;
    height: 45%;
  }
}

@keyframes intr2 {
  0% {
    opacity:100%;
  }
  100% {
    transform: rotate(-20deg);
    opacity:0%;
  }
}

.line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  z-index: -1;
  animation: lin 5s 1s forwards, lin2 4s 6s forwards;
}

@keyframes lin {
  0% {
    transform: rotate(0deg);
    opacity: 0%;
    width: 25%;
    height: 25%;
  }
  70% {
    opacity: 100%;
    width: 55%;
    height: 55%;
  }
  100% {
    transform: rotate(-380deg);
    width: 50%;
    height: 50%;
  }
}

@keyframes lin2 {
  0% {
    opacity:100%;
  }
  100% {
    transform: rotate(-20deg);
    opacity:0%;
  }
}

h1 {
  opacity: 0%;
}

p {
  opacity: 0%;
}
